* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

/* banner styles start */
.banner {
    width: 70rem;
    height: 30rem;
    margin-left: 80px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
}


.text h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 287px;
}

.text h5 {
    width: 43rem;
    margin-left: 287px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 26px; */
    padding-bottom: 50px;
}

.input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-left: 185px;
    width: 47rem;
    padding: 16px;
    /* align-items: flex-start; */
    gap: 26px;
}


form>input,
form>select,
.btn {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    /* display: flex; */
}

/* form >select */
.btn {
    color: #FFF;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    background: #FF5400;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/* banner styles End */


/* populer container styles  */

.populer {
    width: 1150px;
    height: 28rem;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.container {
    width: 60%;
}

.container h1 {
    font-size: 3.5rem;
}

.populer img {
    width: 100%;
    height: 100%;
}

.populer-first {
    padding: 1.3rem 0;
}

.container ul {
    padding-left: 2.5rem;
    padding: 1rem, 0;
    font-size: 1rem;
}

.container ul li {
    padding-bottom: 1rem;
}

.container button {
    padding: 20px 30px;
}

/* populer container style end */

/* destinetion  container start */

.likha h1 {
    color: black;
    font-size: 2.5rem;
    margin-left: 26rem;
    margin-bottom: 1.2rem;
}

.likha p {
    width: 40rem;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-left: 22rem;
}

.destenitain-img {
    max-width: 75rem;
    margin-left: 50px;
}


.second,
.third,
.first {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

/* destenitation container end */

/* card start  */

.card-demo {
    display: flex;
    max-width: 1200px;
    margin-left:110px ;
    justify-content: center;
}

.card {
    width: 35rem;
    height: 17.5rem;
    padding: 20px;
    margin-top: 2rem;
    
}


 .another {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
}

.card h1 {
    font-size: 24px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

.farther{
    width: 480px;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 500px;
    background-color: rgb(214, 159, 168);
}

/* .next-line-car > .card{
    margin-left: 20rem;
    margin-top: 1rem;
} */


/* card end */



/*  respondsive style for   small devices */


@media screen and (max-width:576px) {

    /* banner secton */
    .banner {
        width: 24rem;
        height: 28rem;
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
        /* margin-left :8ram;; */

    }

    .text h1 {
        color: #FFF;
        font-size: 22px;
        margin-top: 10px;
        margin-left: 6rem;

    }

    .text h5 {
        margin-left: 10px;
        margin-top: 20px;
        padding-bottom: 50px;
        padding-right: 20rem;
        margin-right: 2rem;
    }

    .input {
        width: 13rem;
        border-radius: 8px;
        margin-left: 6rem;
        padding: 16px;
        gap: 26px;
    }

    form>input,
    form>select,
    .btn {
        display: flex;
        gap: 5px;
        /* padding: 10px; */
        padding-bottom: 1rem;
    }

    /* banner section end */

    /* populer section */

    .populer {
        width: 28rem;
        height: auto;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
    }

    .populer .img {
        width: 100%;
        padding-top: 10px;
    }

    .container {
        width: 100%;
    }

    .container h1 {
        font-size: 1.2rem;
        margin-top: 1ram;
    }

    /* populer section end */


    /*destenitation container start  */


    .likha h1 {
        font-size: 1.4rem;
        color: black;
        margin-left: 8rem;
        margin-bottom: 1rem;
    }

    .likha p {
        width: 20rem;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        margin-left: 6rem;
    }

    .first,
    .second,
    .third {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .destenitain-img {
        margin: 10px auto;
        padding: 10px;
    }

    /*destenitation container end  */


/* card container  */

.card-demo {
    flex-direction: column;
    margin-left:10px ;
    justify-content: center;
}
.card p{
    width: 19rem;
}


.farther{
    
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    background-color: rgb(214, 159, 168);
}




}